<div ng-controller='ViewReqController'>
      
        
           <!--  <div >
                <div style="opacity: 0.2; background-color:aliceblue;" class="jumbotron">
                    <h1 style="color:black">No Request Found</h1>
                    
                </div>
                <p>Helping Hand</p>
    
            </div> -->

            <div>

                    <table id="reqTable" class="table table-bordered" style="width:100% ;color: azure;background: rgba(200, 130, 140, 0.2);">
                    </table>

            </div>






    </div>